.start-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
    &__header {
        height: 66px;
        width: 100%;
        background-color: #5d656d3b;
        margin-bottom: 160px;
        display: flex;
        align-items: center;
        padding: 0 8px;
        display: flex;
        justify-content: space-between;
    }
    &__box {
        display: flex;
        align-items: center;
        & p {
            margin-left: 20px;
            font-size: large;
        }
    }
    &__user-box {
        height: 50px;
        width: 50px;
        overflow: hidden;
        & img {
            width: 100%;
            cursor: pointer;
        }
    }
    &__card-box {
        display: flex;
        height: 80px;
        overflow: hidden;
        border-radius: 5px;
        box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
        margin: 16px;
        cursor: pointer;
        transition: 0.5s;
    }
    &__card-box:hover {
        box-shadow: 0 0 10px rgb(0, 0, 0);
        transition: 0.5s;
    }
    &__box-img {
        width: 20%;
        & img {
            width: 100%;
            height: 100%;
        }
    }
    &__box-content {
        display: flex;
        width: 80%;
        flex-direction: column;
        justify-content: space-between;
        padding: 4px 8px;
        & h2 {
            font-weight: 700;
        }
        & p {
            font-weight: 300;
        }
    }
    &__lvl-1 {
        color: rgb(47, 189, 22);
        font-weight: 400;
    }
    &__lvl-2 {
        color: rgb(255, 181, 43);
        font-weight: 400;
    }
}
