.container{
    display: flex;
    align-items: center;
    margin-bottom: 100px;
    width: 300px;
    p {
        margin-right: 20px;
    }
    .switch{
        min-width: 60px;
        height: 30px;
        border-radius: 15px;
        background-color: #FAFAFA;
        border: 1px solid #CBCBCB;
        transition: 0.4s;
        & button {
            width: 28px;
            height: 28px;
            border-radius: 50%;
            border: none;
            box-shadow: 0 0 1px rgba(0,0,0,0.5);
        }
    }

}
